body {
  background-color: #1c1d1f;
}

section {
  text-align: center;
  margin: 2rem auto;
  padding: 2rem 1rem;
  background-color: #fff;
  max-width: 60%;
  border-radius: 10px;
}

button {
  font-size: 1rem;
  cursor: pointer;
  background-color: #1f0044;
  border: none;
  padding: 1rem 4rem;
  color: #fff;
  border-radius: 30px;
}

button:hover {
  background-color: #13012b;
  transition: 0.5s;
}
